<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>AngularClient</title>
    <base href="/">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="favicon.ico">
    <link rel="stylesheet" href="styles.31d6cfe0d16ae931b73c.css">
</head>

<body>
    <app-root></app-root>
    <script src="runtime.35f159139dca69715587.js" defer></script>
    <script src="polyfills.c255253c6bbefebffa47.js" defer></script>
    <script src="main.92b3a2f36449ef0643bc.js" defer></script>

</body>

</html>